{%extends 'base/base.html' %}
{% block contents %}
	<a href="/blog/posts/{{post.id}}/True">Show comments</a>
	<a href="/blog/posts/{{post.id}}">Hide comments</a>

	<fieldset><legend><b>Post</b></legend>
		<p><b>Title: </b>{{post.title}}
		<br/><b>Author: </b>{{post.author}}
		<br/><b>Date Created: </b>{{post.date_created}}
		<br/><b>Date Modified: </b>{{post.date_updated}}
		<br/><b>Content</b><br/>{{post.post}}
	</fieldset>
    {% if showComments == True%}
    	<b>Comments</b></br>
    	{% for p in comments %}
    		<p class="block">
 			<b>Author: </b>{{p.author}}
 			<br/><b>Date Created: </b>{{p.date_created}}
 			<br/><b>Date Modified: </b>{{p.date_updated}}
 			<br/><b>Body </b><br/>{{p.comment}}
 			<br/><a href="/blog/comments/{{p.id}}/edit" title="Edit"><i class="icon-edit"></i></a>
        {% endfor %}
    <div>
        <form method='post' action="">
            {{form.as_p}}
            <input type="submit" name="submit" value="Add">
        </form>
    </div>
    {% endif %}
{% endblock %}
