{%extends 'base/base.html' %}
{% block contents %}
    {% for q in post %}
    <a href="/blog/posts/{{q.id}}/True">Show comments</a>
    {%endfor%}
    {%for q in post %}
    <a href="/blog/posts/{{q.id}}">Hide comments</a>
    {%endfor%}
    <fieldset style='width:220px'><legend><b>Post</b></legend>
    {% for p in post %}
        <span class="new">Title:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{{p.title}}<br/>
        <span class='new'>Author:&nbsp;&nbsp;</span>{{p.author}}<br/>
        <span class='new'>Created: </span>{{p.date_created}}<br/>
        <fieldset style='width: 300px'><legend><span class='new'>Content</span></legend>{{p.post}}</fieldset>
    {%endfor%}
    </fieldset>
    {% if comments %}
        <h3 style="color: #33FFFF">Comments</h3>
        {%for p in comments%}
            <fieldset style='width: 300px' ><legend><span class="new">By</span> {{p.author}}</legend>{{p.comment}}<br/><a href="/blog/comments/{{p.id}}/edit" title="Edit"><i class="icon-edit"></i></a></fieldset>
        {% endfor %}
    <div>
        <form method='post' action="">
            {{form.as_p}}
            <input type="submit" name="submit" value="Add">
        </form>
    <div>
    {% endif %}
{% endblock %}
