<html>
<head>
<title>Personal</title>
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
<style type="text/css">
textarea {
    resize= none;
}
textarea {
    resize: none;
}

#leftnav{
    width: 15%;
    height: 100%;
    float: left;
    background-color: #00FFCC;
}

#header {
    padding-top: 10px;
    text-align: center;
    color: black;
    background-color:#CCFF66;
}

#content {
    padding:12px;
    float: left;
    }

#search{
    float: right;
}

</style>
</head>
<body>
<div id="header">&nbsp<h1>My Blog</h1>&nbsp<br/><div id="search">Searh for item: <input type="text" cols="5"/></div></div>

<div id="leftnav">&nbsp;<a href="/blog">HOME</a></div>
<div id="content"><a href="/blog/posts/">Show All Post</a>&nbsp;&nbsp;
{%block contents%}

<br/>Hello This is my blog{%endblock%}</div>
</body>
</html>
